<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>mercadoliebre</title>
  </head>
  <body>
    <header>
      <div class="header-top-bar">
        <a href="/">
        <img src="/images/logo-mercado-liebre.svg" alt="logo" class="logo" />
        </a>
        <nav class="buscadorpadre">
          <div class="buscador">Buscar productos, marcas</div>
          <p class="buscadorlogo">
            <i class="fas fa-search"></i>
          </p>
        </nav>
        <h2 class="copy-header">
          <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjéta
        </h2>
      </div>
      <a href="#" class="boton"><i class="fas fa-bars"></i></a>
      <nav class="header-bottom-bar">
        <ul class="left-bar">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">ayuda</a></li>
        </ul>
        <ul class="right-bar">
          <li>
            <a href="/register">Creá tu cuenta<i class="far fa-id-card"></i></a>
          </li>
          <li>
            <a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li>
            <a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="banner">
      <img src="/images/img-home-banner.jpg" alt="banber" class="img-banner">
    </div>
    <main>
      <div>
        <h3 class="titular"><strong>Basado en tu ultima visita</strong></h3>
      </div>
      <div class="boxbox">
        <div class="cajon-producto">
          <div>
            <img
              src="/images/img-cafetera-moulinex.jpg"
              width="200"
              height="200"
              alt="cafeteramoulinex"
            />
          </div>
          <div class="camion">
            <i class="fas fa-truck"></i>
          </div>

          <div class="precio-descuento">
            <p class="precios">$6.770</p>
            <p class="descuentos">40% OFF</p>
          </div>
          <p class="descripciones"><strong>Cafetera Moulinex</strong></p>
        </div>

        <div class="cajon-producto">
          <div>
            <img
              src="/images/img-macbook-pro-2019.jpg"
              width="200"
              height="200"
              alt="mackbook"
            />
          </div>
          <div class="camion">
            <i class="fas fa-truck"></i>
          </div>
          <div class="precio-descuento">
            <p class="precios">$230.000</p>
            <p class="descuentos">20% OFF</p>
          </div>
          <p class="descripciones"><strong>MacBook Pro 2019</strong></p>
        </div>

        <div class="cajon-producto">
          <div>
            <img
              src="/images/img-samsung-galaxy-s10.jpg"
              width="200"
              height="200"
              alt="galaxys10"
            />
          </div>
          <div class="camion">
            <i class="fas fa-truck"></i>
          </div>
          <div class="precio-descuento">
            <p class="precios">$70.500</p>
            <p class="descuentos">10% OFF</p>
          </div>
          <p class="descripciones"><strong>Samsung Galaxy S10</strong></p>
        </div>

        <div class="cajon-producto">
          <div>
            <img
              src="/images/img-tv-samsung-smart.jpg"
              width="200"
              height="200"
              alt="samsungsmart"
            />
          </div>
          <div class="camion">
            <i class="fas fa-truck"></i>
          </div>
          <div class="precio-descuento">
            <p class="precios">$23.200</p>
            <p class="descuentos">5% OFF</p>
          </div>
          <p class="descripciones"><strong>SmartTv Samsung 43"</strong></p>
        </div>
      </div>
      <div>
        <h3 class="titular">Ofertas</h3>
      </div>
      <div class="boxbox">
        <div class="cajon-producto">
          <div>
            <img
              src="/images/img-cafetera-moulinex.jpg"
              width="200"
              height="200"
              alt="cafeteramoulinex"
            />
          </div>
          <div class="camion">
            <i class="fas fa-truck"></i>
          </div>

          <div class="precio-descuento">
            <p class="precios">$6.770</p>
            <p class="descuentos">40% OFF</p>
          </div>
          <p class="descripciones"><strong>Cafetera Moulinex</strong></p>
        </div>

        <div class="cajon-producto">
          <div>
            <img
              src="/images/img-macbook-pro-2019.jpg"
              width="200"
              height="200"
              alt="mackbook"
            />
          </div>
          <div class="camion">
            <i class="fas fa-truck"></i>
          </div>
          <div class="precio-descuento">
            <p class="precios">$230.000</p>
            <p class="descuentos">20% OFF</p>
          </div>
          <p class="descripciones"><strong>MacBook Pro 2019</strong></p>
        </div>

        <div class="cajon-producto">
          <div>
            <img
              src="/images/img-samsung-galaxy-s10.jpg"
              width="200"
              height="200"
              alt="galaxys10"
            />
          </div>
          <div class="camion">
            <i class="fas fa-truck"></i>
          </div>
          <div class="precio-descuento">
            <p class="precios">$70.500</p>
            <p class="descuentos">10% OFF</p>
          </div>
          <p class="descripciones"><strong>Samsung Galaxy S10</strong></p>
        </div>

        <div class="cajon-producto">
          <div>
            <img
              src="/images/img-tv-samsung-smart.jpg"
              width="200"
              height="200"
              alt="samsungsmart"
            />
          </div>
          <div class="camion">
            <i class="fas fa-truck"></i>
          </div>
          <div class="precio-descuento">
            <p class="precios">$23.200</p>
            <p class="descuentos">5% OFF</p>
          </div>
          <p class="descripciones"><strong>SmartTv Samsung 43"</strong></p>
        </div>
      </div>
    </main>
    <footer>
      <div>
        <div class="icono-footer">
          <i class="fas fa-credit-card"></i>
        </div>
        <h4><strong>Pagá con tarjeta o en efectivo</strong></h4>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </div>
      <div>
        <div class="icono-footer">
          <i class="fas fa-gift"></i>
        </div>
        <h4><strong>Envío gratis desde $ 2.500</strong></h4>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </div>
      <div>
        <div class="icono-footer">
          <i class="fas fa-user-shield"></i>
        </div>
        <h4><strong>Seguridad, de principio a fin</strong></h4>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </div>
      <div>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L</p>
      </div>
    </footer>
  </body>
</html>
