<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>mercadoliebre</title>
   <header>
    <div class="header-top-bar">
      <a href="/">
      <img src="/images/logo-mercado-liebre.svg" alt="logo" class="logo" />
      </a>
      <nav class="buscadorpadre">
        <form action="/" method="GET">
          <input type="text" name="buscador" class="buscador" placeholder="Buscar productos, marcas y más…">
          <button type="submit" class="buscadorlogo">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </nav>
      <h2 class="copy-header">
        <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjéta
      </h2>
    </div>
    <a href="#" class="boton"><i class="fas fa-bars"></i></a>
    <nav class="header-bottom-bar">
      <ul class="left-bar">
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">ayuda</a></li>
      </ul>
      <ul class="right-bar">
        <li>
          <a href="/register">Creá tu cuenta<i class="far fa-id-card"></i></a>
        </li>
        <li>
          <a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a>
        </li>
        <li>
          <a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a>
        </li>
      </ul>
    </nav>
  </header>
    <main class="formulario-login">
      <h3>Ingresá</h3>
      <form action="/" method="GET">
        <label for="nombre-usuario-login">Nombre de Usuario</label>
        <input type="text" name="nombre-usuario-login" id="nombre-usuario-login">
        <label for="contraseña-login">Contraseña:</label>
        <input type="password" class="contrseña-login" id="contraseña-login">
        <button type="submit">Enviar</button>
      </form>
      
    </main>
    <footer>
      <div>
        <div class="icono-footer">
          <i class="fas fa-credit-card"></i>
        </div>
        <h4><strong>Pagá con tarjeta o en efectivo</strong></h4>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </div>
      <div>
        <div class="icono-footer">
          <i class="fas fa-gift"></i>
        </div>
        <h4><strong>Envío gratis desde $ 2.500</strong></h4>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </div>
      <div>
        <div class="icono-footer">
          <i class="fas fa-user-shield"></i>
        </div>
        <h4><strong>Seguridad, de principio a fin</strong></h4>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </div>
      <div>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L</p>
      </div>
    </footer>
  </body>
</html>
        
